<section id='header'>
  <h1>4D Bank</h1>
  <h2>Personal banking taken to the next dimension</h2>
</section>

<section id='promo'>
  <mat-list>
    <mat-list-item>
      <mat-icon>check_circle</mat-icon>
      <p>Create an account instantly!</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>mood</mat-icon>
      <p>Choose your interest rate!</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>compare_arrows</mat-icon>
      <p>Instantly transfer funds!</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>alarm</mat-icon>
      <p>One-button time control!</p>
    </mat-list-item>
  </mat-list>
</section>

<section id='create'>
  <h2>Create Account</h2>
  <mat-slider min='.01' max='.1' step='.01' [(ngModel)]='interest_rate' (input)='sliderChange($event)'></mat-slider>
  <p>Interest Rate: {{interest_rate | percent}}</p>
  <button mat-fab color='primary' (click)='createAccount()'>Go</button>
</section>
