<section id='account' *ngIf='account'>
  <section id='account-info'>
    <p>ID: {{account._id}}</p>
    <p>Created: {{account.created_date | date:'MM/yyyy'}}</p>
    <p>Interest Rate: {{account.interest_rate | percent:'1.2-2'}}</p>
    <p>Balance: {{account.balance | currency:'USD':true:'1.2-2'}}</p>
  </section>

  <section id='actions'>
    <input [(ngModel)]='t_amount' placeholder='$'>
    <button (click)='depositOrWithdraw("d")'>Deposit</button>
    <button (click)='depositOrWithdraw("w")'>Withdraw</button>
  </section>

  <section id='time'>
    Advance time by 1...
    <button (click)='advanceTime(1)'>Month</button>
    <button (click)='advanceTime(12)'>Year</button>
    <button (click)='advanceTime(120)'>Decade</button>
  </section>

  <section id='transactions'>
    <table>
      <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Date</th>
      </tr>
      <tr *ngFor='let trans of account.transactions.reverse()'>
        <td>{{parseTransactionType(trans.t_type)}}</td>
        <td>{{trans.t_amount | currency:'USD':true:'1.2-2'}}</td>
        <td>{{trans.balance | currency:'USD':true:'1.2-2'}}</td>
        <td>{{trans.date | date:'MM/yyyy'}}</td>
      </tr>
    </table>
  </section>
</section>
